{{!-- {{#each errors}}
  <div class="alert alert-danger">{{text}}</div>
{{else}}

{{/each}} --}}

<div class="card card-body">
  <h3>Edit Item</h3>
  <form action="/log/{{item.id}}?_method=PUT" method="post">
    <input type="hidden" name="_method" value="PUT">
    <div class="form-group">
      <label for="item">Title</label>
      <input type="text" class="form-control" name="item" value="{{item.item}}" >
    </div>
    <div class="form-group">
      <label for="bcode">bcode</label>
      <input type="text" class="form-control" name="bcode" value="{{item.bcode}}" >
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>